/* CompetitionName.css */
.competition-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .header-image {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }
  
  .start-image {
    order: -1; /* Ensures the image is on the left */
  }
  
  .title {
    flex: 1;
    text-align: center;
    font-size: 2.5em;
    color: #007bff;
    margin: 0;
  }
  
  .end-image {
    order: 1; /* Ensures the image is on the right */
  }
  